<app-titulo [titulo]="titulo"></app-titulo> 
<div class="d-flex">
  <div class="form-inline mr-auto">
    <div class="form-group mb-2">
      <label class="mr-2">Filtro:</label> <input type="text" 
      class="form-control mr-2" 
      placeholder="Insira o Buscar"
      [(ngModel)]="flocal"
      >    
    </div>
  </div>
  <div>
    <div class="btn btn-outline-primary" (click)="novoEvento(formEdit)">
      <i class="fa fa-plus-circle"></i>&nbsp;
      Novo Evento
    </div>
  </div>
</div>

<h3>Filtro Local: {{flocal}}</h3>
<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th>
        <button class="btn btn-outline-primary" 
        (click)=alternarImagem()>
        <i class="{{mostrarImagem ? 'fa fa-eye-slash' : 'fa fa-eye'}}"></i>            
      </button>
    </th>
    <th>#</th>      
    <th>Tema</th>
    <th>Local</th>
    <th>Data</th>
    <th>Qtd Pessoas</th>
    <th>Lote</th>
    <th>Opções</th>
  </tr>
</thead>
<tbody *ngIf="eventos && eventos.length">
  <tr *ngFor="let evento of eventosFiltrados" >
    <td>
      <img *ngIf="mostrarImagem"
      src="http://localhost:5000/img/{{evento.imagemURL}}"
      [style.width.px]="imgLargura"
      [style.margin.px]="imgMargem"
      >
    </td>
    <td>{{evento.id}}</td>
    <td>{{evento.tema}}</td>
    <td>{{evento.local}}</td>
    <td>{{evento.dataEvento | DateTimeFormatPipe}}</td>
    <td>{{evento.qtdPessoas}}</td>
    <td>
      <div *ngIf="!evento.lotes.length">
        Não Informado!
      </div>
      <div *ngIf="evento.lotes.length">
        {{evento.lotes[0].nome | uppercase}}
      </div>
    </td>
    <td>
      <div class="btn-group">
        <button class="btn btn-sm btn-success" 
        tooltip="Editar" (click)="editarEvento(evento,formEdit)">
        <i class="fa fa-edit"></i>
      </button>
      <button class="btn btn-sm btn-danger"
       tooltip="Excluir" (click)="excluirEvento(evento,confirm)">
        <i class="fa fa-eraser"></i>
      </button>
    </div>
  </td>      
</tr>
</tbody>
<tfoot *ngIf="!eventosFiltrados?.length">
  <tr>
    <td colspan="7" class="text-center">
      <h4>
        Nenhum Evento encontrado!!
      </h4>
    </td>
  </tr>
</tfoot>
</table>

<!-- 
  Template Modal
-->
<div bsModal #formEdit="bs-modal" class="modal fade" tabindex="-1"
role="dialog" aria-labelledby="dialog-sizes-name1">
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h4 id="dialog-sizes-name1" class="modal-title pull-left">Cadastro de Eventos</h4>
      <button type="button" class="close pull-right" (click)="formEdit.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <!-- 
        Formulario
      -->
      <form [formGroup]="formulario">
        <div class="form-row">
          <div class="form-group col-md-12">
            <label>Tema</label>
            <input form type="text" class="form-control"
            [ngClass]="{'is-invalid': formulario.get('tema').errors && formulario.get('tema').touched}" formControlName="tema" placeholder="Insira o tema">
            <div *ngIf="formulario.get('tema').hasError('required')" class="invalid-feedback">
              Tema Obrigatório!
            </div>
            <div *ngIf="formulario.get('tema').hasError('minlength')" class="invalid-feedback">
              Tema deve ter no mínimo 4 caracteres!
            </div>
            <div *ngIf="formulario.get('tema').hasError('maxlength')" class="invalid-feedback">
              Tema deve ter no máximo 50 caracteres!
            </div>
          </div>
        </div>  
        <div class="form-row">
          <div class="form-group col-md-8">
            <label>Local</label>
            <input form type="text" class="form-control"
            [ngClass]="{'is-invalid': formulario.get('local').errors && formulario.get('local').touched }" formControlName="local" placeholder="Insira o Local">
            <div *ngIf="formulario.get('local').hasError('required')" class="invalid-feedback">
              Local Obrigatório!
            </div>
          </div>
          <div class="form-group col-md-4">
            <label>Data e Hora</label>
            <input form type="text" class="form-control" bsDatepicker [bsConfig]="{dateInputFormat : 'DD/MM/YYYY hh:mm a'}"
            [ngClass]="{'is-invalid': formulario.get('dataEvento').errors && formulario.get('dataEvento').touched}" formControlName="dataEvento" placeholder="Insira a Data e Hora ">
            <div *ngIf="formulario.get('dataEvento').hasError('required')" class="invalid-feedback">
              Data e Hora Obrigatório!
            </div>
          </div>
        </div>  
        <div class="form-row">
          <div class="form-group col-md-3">
            <label>Qtd Pessoas</label>
            <input form type="text" class="form-control"
            [ngClass]="{'is-invalid': formulario.get('qtdPessoas').errors && formulario.get('qtdPessoas').touched}" formControlName="qtdPessoas" placeholder="Insira o qtdPessoas ">
            <div *ngIf="formulario.get('qtdPessoas').hasError('required')" class="invalid-feedback">
              Qtd Pessoas Obrigatório!
            </div>
            <div *ngIf="formulario.get('qtdPessoas').hasError('max')" class="invalid-feedback">
              Qtd máxima permitida é de 120000 Pessoas!
            </div>
          </div>
          <div class="form-group col-md-9">
            <label>Imagem</label>
            <input form type="text" class="form-control"
            [ngClass]="{'is-invalid': formulario.get('imagemURL').errors && formulario.get('imagemURL').touched}" formControlName="imagemURL" placeholder="Insira o Imagem">
            <div *ngIf="formulario.get('imagemURL').hasError('required')" class="invalid-feedback">
              Imagem Obrigatória!
            </div>
          </div>
        </div>  
        <div class="form-row">
          <div class="form-group col-md-8">
            <label>Telefone</label>
            <input form type="text" class="form-control"
            [ngClass]="{'is-invalid': formulario.get('telefone').errors && formulario.get('telefone').touched}" formControlName="telefone" placeholder="Insira o Telefone">
            <div *ngIf="formulario.get('telefone').hasError('required')" class="invalid-feedback">
              Telefone Obrigatório!
            </div>
          </div>
          <div class="form-group col-md-4">
            <label>Email</label>
            <input form type="text" class="form-control"
            [ngClass]="{'is-invalid': formulario.get('email').errors && formulario.get('email').touched}" formControlName="email" placeholder="Insira o email">
            <div *ngIf="formulario.get('email').hasError('required')" class="invalid-feedback">
              Email Obrigatório!
            </div>
            <div *ngIf="formulario.get('email').hasError('email')" class="invalid-feedback">
              Email Invalido!
            </div>
          </div>
        </div> 
      </form>
            
      <!-- 
        Teste de validação do formulario      
      <p>Form Value: {{formulario.value | json}}</p>
      <p>Form Status: {{formulario.status | json}}</p>        
      -->
    </div>
    <div class="modal-footer d-flex">
      <button class="btn btn-secondary" (click)="formEdit.hide()">
        Fechar
      </button>
      <button class="btn btn-primary ml-auto" [disabled]="!formulario.valid" (click)="salvarAlteracao(formEdit)">
        Salvar Alterações
      </button>
    </div>
  </div>
</div>
</div>


<div bsModal #confirm="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
	<div class="modal-dialog modal-sm">
  		<div class="modal-content">
    		<div class="modal-header">
      			<h4 class="modal-title pull-left">
        			Deletando Evento
      			</h4>
      			<button type="button" class="close pull-right" (click)="confirm.hide()" aria-label="Close">
        			<span aria-hidden="true">&times;</span>
      			</button>
    		</div>
    		<div class="modal-body">
      			<p>{{bodyDeletarEvento}}</p>
    		</div>    
    		<div class="modal-footer btn-group d-flex">      
      			<button type="button" class="btn btn-outline-primary" (click)="confirm.hide()">
        			CENCELAR
      			</button>
      			<button type="button" class="btn btn-outline-danger" (click)="confirmeDelete(confirm)">
          			DELETAR
        		</button>
    		</div>
  		</div>
	</div>
</div>




